body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-width: 35vw;
    max-width: 35vw;
    min-height: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    min-height: 22vh;
    max-height: 22vh; 
}

.col {
    border:  1px solid black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: white;

}