body {
    margin: 0;
    padding: 0;
}

.board {
    position: absolute;
    border: 8px solid black;
    top: 10vh;
    left: 10vw;
    min-width: 80vw;
    min-height: 80vh;
}

.row {
    position: absolute;
    display: flex;
    border: 1px solid black;
}

.south {
    flex-direction: row-reverse;
    min-width: 67vw;
    min-height: 19.805vh;
    bottom: 0;
    right: 0;
}

.west {
    flex-direction: column-reverse;
    min-width: 12.75vw;
    min-height: 59.8vh;
    bottom: 0;
    left: 0;
}

.north {
    flex-direction: row;
    min-width: 67vw;
    min-height: 19.805vh;
    top: 0;
    left: 0;
}

.east {
    flex-direction: column;
    min-width: 12.75vw;
    min-height: 59.8vh;
    top: 0;
    right: 0;
}

.spot {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.south .spot {
    border: 1px solid purple;
    border-bottom: 0px;
    flex: 1;
}

.west .spot {
    border: 1px solid blue;
    border-left: 0px;
    flex: 1;
} 

.north .spot {
    border: 1px solid maroon;
    border-top: 0px;
    flex: 1;
}

.east .spot {
    border: 1px solid greenyellow;
    border-right: 0px;
    flex: 1;
}

.south .end {
    flex: 1.43;
}

.west .end {
    flex: 1.5;
}

.north .end {
    flex: 1.43;
}

.east .end {
    flex: 1.5;
}

.die {
    position: absolute;
    top: 37.5vh;
    left: 45vw;
   min-width: 13vw; 
   max-width: 13vw;
}

.die img {
    width: 100%;
}

.roll {
    position: absolute;
    max-width: 10vw;
    max-height: 15vh;
    font-size: 100px;
    z-index: 10;
    top: 8vh;
    color: green;
    left: 20vw;
}

.player {
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
    min-width: 25px;
    max-width: 50px;
    min-height: 15px;
    max-height: 30px;
}
